[2018-02-09 21:37] sebma opened #24 "brew installation fails : -e:276:in `<main>': undefined method `odie' for main:Object (NoMethodError)"
# Please always follow these steps:
To help us debug your issue please explain:
- What you were trying to do (and why)
Trying to install Linuxbrew
- What happened (include command output)
[code]

- What you expected to happen
A proper installation
- Step-by-step reproduction instructions :
[code]

On our university workstations, my homedir is on NFS and the user management used is LDAP.

BTW : `id

[2018-02-09 21:51] sjackman commented on #24
[code]
That's not good and may create trouble for you going forward. Is that `/usr/bin/id`? Please report
[code]

[2018-02-09 21:55] sebma commented on #24
[code]

I believe there's something wrong with their LDAP configuration.

[2018-02-09 21:59] sjackman commented on #24
I've opened PR https://github.com/Linuxbrew/install/pull/25 to address `undefined method odie`

[2018-02-09 22:00] sjackman commented on #24
I'd suggest opening a ticket with your support team.

In the mean time, you can try downloading the `install` script commenting out this line:
https://github.com/Linuxbrew/install/blob/220647fbd8d4b926567ad257b6cc4ea187402d19/install#L276

[2018-02-09 22:00] sjackman commented on #24
Fixed by PR https://github.com/Linuxbrew/install/pull/25

[2018-02-09 22:00] #24 closed, assigned to sjackman

[2018-02-09 22:05] sebma commented on #24
Thanks :-)

[2018-02-09 22:07] sjackman commented on #24
Thanks for the bug report!

[2018-03-19 10:23] duvrai opened #26 "Fedora requires rubygem-json package before Linuxbrew installation"
While trying to install Linuxbrew on Fedora 27 i got

    /usr/share/rubygems/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- json (LoadError)

In Linuxbrew/brew#447 I discovered that I had to install `rubygem-json` on Fedora before trying to install Linuxbrew:

    sudo dnf install rubygem-json

It would be nice
- to find this requirement or some more generic explana

[2018-03-19 17:12] sjackman commented on #26
Thanks for the bug report, Duvrai. Does `export HOMEBREW_FORCE_VENDOR_RUBY=1` work around this issue for you?

[2018-03-19 17:13] sjackman commented on #26
I see that I've run into this issue myself with the `fedora` Docker image. See https://github.com/Linuxbrew/docker/blob/master/fedora/Dockerfile#L5

[2018-03-20 16:08] duvrai commented on #26
Yes it did, after uninstalling `rubygem-json` from Fedora, I set `HOMEBREW_FORCE_VENDOR_RUBY=1`. When I ran brew after that, it went fetching `portable-ruby-2.3.3.x86_64_linux.bottle.1.tar.gz`. Brew seems to run fine now without `rubygem-json`.

[2018-03-20 16:34] sjackman commented on #26
Glad to hear that workaround works for you.

[2018-03-20 16:34] #26 closed, assigned to nobody

[2018-05-18 23:36] sjackman opened #27 "Should curl be used from $PATH when installing linuxbrew?"
_From @Gwang-Jin on May 16, 2018 2:4_

Hello. When I started linuxbrew with non-root user, I met a problem with curl path.
In my system,
`/usr/bin/curl --version `

`curl 7.19.7 (x86_64-redhat-linux-gnu) libcurl/7.19.7 NSS/3.12.9.0 zlib/1.2.3 libidn/1.18 libssh2/1.2.2
Protocols: tftp ftp telnet dict ldap ldaps http file https ftps scp sftp
Features: GSS-Negotiate IDN IPv6 Largefile NTLM SSL libz`

[2018-05-18 23:36] sjackman commented on #27
_From @iMichka on May 17, 2018 20:9_

Hi. I think it would be fine to make that change (replacing `/usr/bin/curl` with `curl`). I think this comes from the mac logic where they may want to force you to use the system's curl. On Linux it is probably fine to use whatever curl is in the path (but maybe upstream would be interested to make that change too).

@sjackman Any opinion on this. I bet it has

[2018-05-18 23:37] sjackman commented on #27
I'm fine with using `curl` from the `PATH`. Now that GitHub has killed off old SSL protocols, it's becoming more common that the host's `/usr/bin/curl` is not sufficient to install Linuxbrew.

@Gwang-Jin Would you like to open a PR to fix it?
https://github.com/Linuxbrew/install/blob/04a18ba610d087d8b3a0662ad65f18d7361ae85d/install#L386

[2018-05-19 12:26] Gwang-Jin commented on #27
Yes. But I am not familiar with GitHub.

[2018-05-19 14:14] iMichka commented on #27
We can guide you through the process. This change is quite small, so you do it directly from the GitHub website.

Go to this page https://github.com/Linuxbrew/install/blob/master/install. There you will be able to edit the code directly. You can follow this 8 step instructions to get this done https://help.github.com/articles/editing-files-in-your-repository/

[2018-05-21 01:06] Gwang-Jin commented on #27
OK. I will.

[2018-05-23 05:01] yukihane opened #30 "Created ~/.cache directory is owned by root"
Installer works:
[code]
So if .cache does not exist, root creates it without chown/chgrp.

[2018-05-23 20:52] sjackman commented on #30
Good catch. Thanks for the bug report, @yukihane . Would you like to open a PR to fix the issue?
See this line:
https://github.com/Linuxbrew/install/blob/ed60e76702a780b4a4cde04f49ef9f41d64abbc3/install#L323
You could add `File.dirname(HOMEBREW_CACHE)` to this list.

[2018-05-28 14:23] maxim-belkin commented on #27
And it's done! Thank you, @Gwang-Jin! 🎉

[2018-05-28 14:23] #27 closed, assigned to iMichka

[2018-06-26 10:20] f14h opened #31 "Uninstall script deletes system files if run with sudo"
Uninstalling using `/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/uninstall)"`  results in

Running the file with sudo results in
a)

b)

Potentially removing system folders and files. The script looks to me inconsistent first suggesting rerunning it with root and then warning not to run it with root. Why is sudo needed anyway, if the whole installation

[2018-06-26 22:37] sjackman commented on #31
The Linuxbrew `uninstall` script should not make this recommendation. Would you like to open a PR to prevent it doing so?

[2018-06-29 10:18] f14h commented on #31
Thank you for your answer. Could you clarify what you mean with PR? I just wanted to report the issue, don't have the knowledge to fix it myself. Thank you!
Edit: Maybe fix the script so it doesn't suggest it and confirms if you really want to run it with sudo.

[2018-06-29 16:22] sjackman commented on #31
I was suggesting that you open a pull request (PR) to remove this suggestion.
Click this line to edit the `uninstall` file
https://github.com/Linuxbrew/install/edit/master/uninstall#L311
and then delete this line
https://github.com/Linuxbrew/install/blob/9f382bfd55b6a782dfcb6d8d98ed27535c4f9d93/uninstall#L311
then scroll down, type a comment, and select `Propose file chage`

[2018-07-01 19:09] sjackman commented on #31
Fixed by #32

[2018-07-01 19:09] #31 closed, assigned to sjackman

[2018-07-17 15:36] athas opened #33 "Fails when running user has restrictive umask"
I use a restrictive umask by default:

[code]

Unfortunately, this umask is inherited by the installation script when it creates the `/home/linuxbrew` directory, and it means my normal user cannot read it, so installation fails.  I recommend that the script should manually set the desired permissions on the created `/home/linuxbrew` directory.

[2018-07-17 15:38] maxim-belkin commented on #33
great suggestion! Would you be willing to submit a PR?

[2018-07-17 15:45] athas commented on #33
I might give it a shot, but I'm not much familiar with Ruby.  One solution might be to simply `umask 022` in `install.sh`.  Does the installation script write anywhere but `/home/linuxbrew`?

[2018-09-23 11:41] ghost opened #38 "cannot load such file -- plist (LoadError)"
[code]

[2018-09-23 16:20] nickjhathaway commented on #38
Running into a similar issue on Ubuntu 14.04.5 LTS

Running
[code]

Results in
[code]

Any advice would be greatly appreciated, thanks!

[2018-09-23 19:58] sjackman commented on #38
Try…
[code]
Please let me know if that helps.

[2018-09-23 20:03] nickjhathaway commented on #38
That did the trick, thanks!

[2018-09-23 20:04] sjackman commented on #38
To help me troubleshoot what's going on here, do these files exist?
[code]

[2018-09-23 20:18] sjackman commented on #38
After PR https://github.com/Linuxbrew/install/pull/39 is merged, you can run…
[code]

[2018-09-23 20:19] nickjhathaway commented on #38
So the linuxbrew install is in /home/linuxbrew so I checked for those files in /home/linuxbrew/.linuxbrew but they didn't exist, the whole folder ~/.linuxbrew/Homebrew/Library/Homebrew/vendor/plist/ doesn't exist

The folder /home/linuxbrew/.linuxbrew/Homebrew/Library/Homebrew/vendor/ contains the following
[code]
Doing a find on vendor for plist finds it in
[code]

let me know if any other info h

[2018-09-23 20:24] sjackman commented on #38
This looks like a bug in `Linuxbrew/brew` to me.

[2018-09-24 05:41] sjackman commented on #33
Fixed by PR https://github.com/Linuxbrew/install/pull/34. Thanks, Troels!

[2018-09-24 05:41] #33 closed, assigned to nobody

[2018-09-24 22:27] sjackman commented on #38
This issue is resolved by PR https://github.com/Linuxbrew/brew/pull/850, which will be included in the release of Linuxbrew/brew 1.7.6. In the mean time, to fix an existing installation of Linuxbrew, run…
[code]
or to install Linuxbrew from scratch, run…
[code]

[2018-09-26 20:55] HarrisonKeeling commented on #38
```https://linuxbrew.bintray.com/bottles-portable-ruby/portable-ruby-2.3.3_2.armv6_linux.bottle.tar.gz``` doesn't seem to exist anymore, causing the install to fail.

[2018-09-26 23:46] sjackman commented on #38
See this issue: https://github.com/Linuxbrew/brew/issues/781
That bottle does exist here:
https://homebrew.bintray.com/bottles-portable-ruby/:portable-ruby-2.3.3_2.armv6_linux.bottle.tar.gz
Try…
[code]

[2018-10-06 06:32] dwoodgate opened #41 "Ruby install script fails on Raspberry Pie 2 raspbian"
I believe the ruby-installer is failing because there is no 2.3.7 ruby matching the architecture tag armv7l_linux on the bintray site.

Maybe if uname -m returns armv7l, force it to armv6? (unsure if there's actually a difference)

[code]
See also this comment.
https://github.com/Linuxbrew/brew/issues/855#issuecomment-426145974

**install-ruby**
[code]
Uname
[code]

[2018-10-08 01:16] sjackman commented on #41
Yes, this is a bug in `install`. It should use code like this in `cmd/vendor-install` which allows both `armv6` and `armv7`.
https://github.com/Linuxbrew/brew/blob/c848038f0ead14fcc3b50098609c7322c727d0d3/Library/Homebrew/cmd/vendor-install.sh#L28

Are you interested in submitting a pull request to fix `install`?
https://github.com/Linuxbrew/install/blob/43a0177266a875e5087adba64d6fa577c4cd7e56/in

[2018-10-23 07:44] AgentEric opened #42 "Cannot uninstall linuxbrew"
The command line:

output: /usr/bin/ruby: no such file or directory

My OS is :manjaro
linuxbrew directory: /home/linuxbrew
Didn't install anything via linuxbrew.
Should I just "rm -rf /home/linuxbrew"？worried about that， so come here to create an issue.

[2018-10-23 16:08] sjackman commented on #42
Try…
`/home/linuxbrew/.linuxbrew/Homebrew/Library/Homebrew/vendor/portable-ruby/2.3.7/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/uninstall)"`
or if that fails
[code]
is just fine.

[2018-10-23 16:08] #42 closed, assigned to sjackman

[2019-02-07 21:16] andreineculau opened #48 "handle missing USER env var"
I'm trying out circleci, and I've noticed that their images don't have a USER env var, thus linuxbrew installation fails.
Easy workaround `export USER=$(whoami)` but would be nicer if linuxbrew would handle this itself.

[2019-02-07 21:33] sjackman commented on #48
Thanks for the bug report, Andrei. Would you like to open a pull request to fix this issue?

For CircleCI, I recommend using the `linuxbrew/brew` Docker image.
See for example https://github.com/brewsci/homebrew-bio/blob/07cdffa0c403ec4d4105bbbbf7a697af90cc6e4b/.circleci/config.yml#L4-L5

[code]

[2019-02-09 05:14] dharmab opened #50 "Install should use vendored ruby or warn user if `irb` is not present"
`install.sh` currently only checks if `ruby` is present, but Linuxbrew also requires `irb` which is not guaranteed to be present (https://github.com/Linuxbrew/brew/issues/931).

The installer script should either use a vendored ruby in this case, or warn the user that irb is required.

[2019-02-10 02:21] sjackman commented on #50
I believe that `irb` should only really be required by the `brew irb` command. It's a bug that `brew` crashes if `irb` is not otherwise available. Would you like to take a stab at fixing it? Here's the problematic line:
https://github.com/Homebrew/brew/blob/a75a8c69b39aa9584c299d37826a1700256e8ab8/Library/Homebrew/debrew/irb.rb#L1

[2019-02-18 14:06] x80486 opened #51 "Error: Git must be installed and in your PATH!"
I tried to install Linuxbrew and I got the error from this issue's title. I didn't have Ruby, but the installer took care of it:

[code]

I think the same should happens for `git` since it's a dependency, or am I missing something?

[2019-02-18 17:53] sjackman commented on #51
It's meant to use `curl` as a fallback if you don't have `git` available. Though that functionality does not seem to be working, which is a bug.

Try running…
[code]
or if that fails…
[code]

[2019-02-18 23:20] #51 closed, assigned to sjackman

[2019-03-06 05:51] kitmonisit opened #53 "Installer does not fall back to non-sudo installation"
A run of the Linuxbrew install command promises to fallback to `$HOME/.linuxbrew`. But it does not. I am on a RHEL6 machine. Could it be that the `sudo` test in the install script gives a false positive?

    $ sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)"

The output is:

[code]

[2019-03-06 06:19] sjackman commented on #53
Here's the relevant code:
https://github.com/Linuxbrew/install/blob/7d3b60c1e3dc1efcf902d1da932639f517813221/install#L94-L99

What does the following output:
[code]

[2019-03-06 06:20] sjackman commented on #53
If all else fails, you can try these alternative installation instructions: https://docs.brew.sh/Linuxbrew#alternative-installation

[2019-03-06 06:23] sjackman commented on #53
This PR (in progress) was meant to address this issue: https://github.com/Linuxbrew/install/pull/47

[2019-03-06 06:32] kitmonisit commented on #53
[code]

So `sudo -l mkdir` throws a false positive as far as the installer is concerned?

[2019-03-06 06:43] sjackman commented on #53
`sudo -v` is saying that you do have `sudo` access, without needing a password. It appears to be wrong though, because `sudo -l mkdir` is saying that you do not have `sudo` access. Do you have `sudo` access?

[2019-03-06 06:44] kitmonisit commented on #53
No I do not have `sudo` access.

[2019-03-06 06:45] sjackman commented on #53
For now then, use the alternative installation instructions: https://docs.brew.sh/Linuxbrew#alternative-installation
PR #47 should hopefully address this issue when it's merged.

[2019-03-06 06:45] #53 closed, assigned to sjackman

[2019-03-07 16:11] sjackman commented on #53
PR https://github.com/Linuxbrew/install/pull/47 has been merged. The usual installation instructions should work for you now. Would you be able to test it for us?

[2019-03-07 20:01] sjackman commented on #53
Consider installing Linuxbrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `util-linux`. If it's an option for you, you could open a ticket with your information systems department to ask that they create a `linuxbrew` role account with home directory `/home/linuxbrew`.

The precompiled binary bottl

[2019-03-23 13:59] kitmonisit commented on #53
I just tested this on a fresh CentOS 6.10 virtual machine. It will now fall back to `$HOME/.linuxbrew` installation.

[2019-03-23 14:00] sjackman commented on #53
Glad to hear it. Thanks for following up, Kit.

[2019-04-02 20:45] waldyrious commented on #27
For future reference, the relevant PR is #28.

[2019-04-03 20:58] timotheecour opened #55 "non-interactive installation of fails: Error: no implicit conversion of false into String"
(originally reported in https://github.com/Homebrew/brew/issues/5976 but was asked to move it here)

# What you were trying to do (and why)
I'm on linux (ubunty 18.04, installed in aws lightsail, but it shouldn't matter), trying to to automate installation of brew(linuxbrew) (eg on AWS machines), and avoid the prompt `Press RETURN to continue or any other key to abort`

# What happened (include co

[2019-04-03 21:11] sjackman commented on #55
Odd. Here's the two lines that are failing:

[code]
https://github.com/Homebrew/brew/blob/8ce7b1d39c66f10d954eddc6c6ec9a60f86e8c12/Library/Homebrew/tap.rb#L737

[code]
https://github.com/Homebrew/brew/blob/8ce7b1d39c66f10d954eddc6c6ec9a60f86e8c12/Library/Homebrew/utils/popen.rb#L25

Are you able to reproduce this error in Docker? That would allow me to reproduce the error.

[2019-04-03 23:00] waldyrious opened #56 "Handle systems with old curl versions"
I'm facing some installation issues that could perhaps be handled more seamlessly by the installer script. The system is a CentOS 6 machine where I have no sudo access.

The installation command
[code]

uses the system `curl`, and the initial download works; However, the actual installation script fails with
[code]

This seems to be due to git using the system curl and failing to access the secure

[2019-04-03 23:13] sjackman commented on #56
The simplest work around is to somehow get a recent copy of OpenSSL and curl on your system, probably by compiling them from source, and then putting that updated `curl` in your `PATH` before running the Linuxbrew installer.

Yes, it'd be good for the installer to print an error message and exit if curl is too old. Would you like to open a PR to do that?

[2019-04-03 23:48] waldyrious commented on #56
I actually do have a more recent curl from my previous round of (ultimately unsuccessful) experiments from about a year ago; I had compiled it using pkgsrc:

[code]

But it still doesn't seem to work:

[code]

If I [set curl and git to use insecure connections](https://github.com/Linuxbrew/brew/wiki/FAQ#why-does-curl-fail), I get further ahead, but then it fails when installing Ruby:

<details>

[

[2019-04-03 23:50] waldyrious commented on #56
Yes, I would. Is there any existing code I could use as reference for the required changes? Or otherwise, where do you suggest I should start looking at?

[2019-04-04 16:40] sjackman commented on #56
You also need to download an updated copy of `cacert.pem` and put it somewhere that OpenSSL and curl can find it.
See https://curl.haxx.se/docs/caextract.html
and https://github.com/Homebrew/linuxbrew-core/blob/842e313db920c2d505147c0c57cfdde60087013d/Formula/openssl.rb#L26

Once `curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh` succeeds you'll be able to make prog

[2019-04-04 16:42] sjackman commented on #56
Now that I think about it, if `curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh` fails our installer won't even be run, so there's not much we can do, other than update the FAQ and possible the install instructions.

[2019-04-04 22:34] waldyrious commented on #56
That's the thing -- the initial download works without issues, when using the system curl (v7.19.7); the failures I had been getting (and which prompted me to open this issue) only happen once the installer is running, as the logs included in the opening comment show.

The failure mentioned in the [other comment](https://github.com/Linuxbrew/install/issues/56#issuecomment-479698143), where downloa

[2019-04-04 22:40] sjackman commented on #56
[code]

You could try using `curl` rather than `git`.
`sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)" -- --force-curl`
Note the additional `--` before `--force-curl`. It's important.

https://github.com/Linuxbrew/install/blob/2f519ad489bbdbceb51e6f799a6df5eba9a33ec4/install#L146-L148

[2019-04-04 22:43] sjackman commented on #56
Does `git clone --depth=1 https://github.com/Homebrew/brew` work for you?

[2019-04-04 22:58] waldyrious commented on #56
`sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)" -- --force-curl`

That doesn't work for me, I'm afraid:

[code]

I tried skipping the `--` to see if it made a difference, but it seems to have been ignored:
[code]

Adding `--force curl` inside the `$(...)` didn't work either, with or without the `--`:
[code]

[code]

Nope:
[code]

[2019-04-04 23:00] waldyrious commented on #56
I'm trying to compile curl from a more recent release branch of pkgsrc to see if it helps.

[2019-04-04 23:00] sjackman commented on #56
Try doubling down on the `--`:
`sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)" -- -- --force-curl`

You could installing an updated version of `git` as you did for `curl`.

[2019-04-04 23:23] waldyrious commented on #56
Compilation of `curl` and `git` is taking a long time and it's getting pretty late here. I'll leave it running and try again tomorrow and report back. Thanks again for all the assistance!

[2019-04-05 23:09] waldyrious commented on #56
Ok I now have:

[code]

Doing `sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)" -- -- --force-curl` **does work**: I finally got to the `==> Installation successful` message! :tada:

However :disappointed: the `brew` script itself seems to insist on using the system curl. Trying to run, for example `brew update --force` as recommended by the "successful i

[2019-04-05 23:16] sjackman commented on #56
I'm glad to hear that you got the installer working, and found the `HOMEBREW_NO_ENV_FILTERING=1` workaround!

A PR to fail early if curl is too old would be great! After that if you have the inclination, you could work on a PR to fix `brew` so that `HOMEBREW_NO_ENV_FILTERING=1` is not needed.

[2019-04-05 23:16] #56 closed, assigned to sjackman

[2019-04-06 09:00] waldyrious commented on #56
Do you happen to know what version (or release date) of curl should be tested for?

I have no idea how I should go about doing that, but if I get some pointers, I could take a stab at it.

[2019-04-07 02:53] sjackman commented on #56
No, I'm afraid I don't. =/ You could try `curl -sS https://github.com >/dev/null` and check the result for `curl: (35) SSL connect error`.
[code]

[2019-04-07 02:56] sjackman commented on #56
I don't have time right this minute, but after we resolve the install issue, I can give you a hand.

[2019-04-13 02:38] andyscraven opened #57 "Actually an update issue"
I try brew update and it is asking for my github credentials. I do that and this is the message.

    fatal: repository 'https://github.com/Homebrew/homebrew-dupes/' not found

It has been a while since I have updated so I am assuming there have been some major restructuring.  Any help would be great.  Here is the output from brew doctor.

brew doctor
Please note that these warnings are just used

[2019-04-15 03:03] sjackman commented on #57
Please surround copied-and-pasted logs with triple back ticks. See [GitHub Help / Quoting Code](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code).

[2019-04-15 03:04] andyscraven commented on #57
@sjackman Ooops! Edited, thanks!

[2019-04-15 03:06] sjackman commented on #57
`Homebrew/dupes` is very old. I think your best bet here would be to try a fresh installation of Homebrew on Linux. See https://docs.brew.sh/linux
You can use `brew list >formulae.txt` to save a list of your installed formulae, remove your old installation of Homebrew with `rm -rf ~/.linuxbrew`, install Homebrew as above, then
`brew install $(<formulae.txt)` to reinstall the same formulae that you

[2019-04-15 03:06] #57 closed, assigned to nobody

[2019-04-15 03:07] sjackman commented on #57
Feel free to comment here if you run into any trouble.
Instead of deleting your old installation of Linuxbrew, you can instead back it up with
[code]

[2019-04-15 03:07] andyscraven commented on #57
@sjackman Thanks for the info.  Hopefully it will go smoothly. I'll let you know.

[2019-04-15 03:09] andyscraven commented on #57
Hmm! It seems on my Mac Homwbrew is not in that directory:

[code]

[2019-04-15 03:14] sjackman commented on #57
Or you're on a Mac? If so, you're in the wrong repo. This repo is for running Homebrew on Linux. For macOS, try https://discourse.brew.sh
I'd suggest starting with
[code]

[2019-04-15 03:16] andyscraven commented on #57
@sjackman Again sorry! Thanks for your help.

[2019-04-15 03:18] sjackman commented on #57
No worries. Good luck!

[2019-05-10 22:48] rwheadon opened #58 "linuxbrew getting osx_brew requirements?"
I am unsure whether this issue falls under brew or rvm.

After installing linuxbrew and setting rvm to enable autolibs (rvm autolibs homebrew) I am not able to run bundle or gem install commands. The search for requirements seems to be expecting xcode, but since this is linux it isn't there (nor available).

Below is a sample output from the command line:
[code]

[2019-05-10 22:52] sjackman commented on #58
This sounds to me like a bug in `rvm`. My guess is that `rvm autolibs homebrew` does not currently work with Homebrew on Linux. You could request that feature from the developers of `rvm`.

[2019-05-10 22:52] #58 closed, assigned to sjackman

[2019-05-19 13:07] ghost opened #59 "failed installation on Redhat 7"
Hi All, yesterday I managed to install Linuxbrew on Redhat 7.6/64 in home folder. There was an issues with OpenCV though (unable to compile pulseaudio for dependency). Today I tried to install Linuxbrew into the default folder "/home/linuxbrew". This is the output (note, g++ 4.8.5 is installed):

[code]

[2019-05-19 15:52] sjackman commented on #59
Please surround copied-and-pasted logs with triple back ticks. See [GitHub Help / Quoting Code](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code).

[2019-05-19 16:05] sjackman commented on #59
A similar bug was reported in https://github.com/Homebrew/linuxbrew-core/issues/13148. We're looking into it now. You can try this workaround in the mean time.
[code]

[2019-05-19 19:45] sjackman commented on #59
I believe this issue is resolved by PR https://github.com/Homebrew/linuxbrew-core/pull/13210.
Run…
[code]

[2019-05-19 19:46] #59 closed, assigned to nobody

[2019-06-02 17:12] ghost commented on #59
Thank you @sjackman for suggestion. I managed to install seamlessly OpenCV, Python, etc using the latest Linuxbrew. It works fine for now.

[2019-06-02 17:18] ghost opened #61 "tensorflow cannot find libstd++"
Dear All,
My system: Redhat 7.6/64, the latest Linuxbrew version installed into default location (/home/linuxbrew). I installed Python3, then numpy, ..., torch, tensorflow using pip3. Installation was (almost) smooth. The problem happens when I try to import tensorflow:

[code]

It turns out when I compile Python3 from sources myself on the same OS, the problem does not show up. Something with pat

[2019-06-02 17:27] iMichka commented on #61
Please submit this issue at: https://github.com/Homebrew/linuxbrew-core

[2019-06-02 17:27] #61 closed, assigned to iMichka

[2019-06-03 04:33] sjackman commented on #59
Glad to hear it. Thanks for the follow up post, Albert!

[2019-06-29 15:40] #48 closed, assigned to sjackman

[2019-07-02 21:03] joseph-long opened #65 "syntax error, unexpected '.'"
Following the instructions from https://docs.brew.sh/Homebrew-on-Linux#install I quickly run into an issue with no clear path forward. I'm on a rather old system (CentOS 6.10 based with ruby 1.8.7), which might have something to do with it.

[code]

[2019-07-02 21:17] sjackman commented on #65
@joseph-long Hi, Joseph. Try running…
[code]

[2019-07-02 21:18] sjackman commented on #65
@joehorsnell Is this issue something that you'd be interested in addressing with a PR? This code installs Ruby if it's not found in the `PATH`.
https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh
https://raw.githubusercontent.com/Linuxbrew/install/master/install-ruby
It needs to be modified to check the current version of Ruby, and install the vendored version of Ruby if it's les

[2019-07-03 00:13] joseph-long commented on #65
Thanks for the tip! I ended up doing an "alternative installation", then figuring out even CentOS `git` was too old... separate issue, though.

[2019-07-03 03:49] sjackman commented on #65
Mmm. The plot thickens. It's possible to download a tarball of Homebrew/brew, extract that, and use it to set up an installation of Homebrew on Linux. Something like the following (untested). Better though is to upgrade your distribution of Linux, if possible.
[code]

[2019-07-03 03:57] joseph-long commented on #65
The plot is thick indeed! I opened a new issue over at https://github.com/Homebrew/brew/issues/6274

Unfortunately, I use Linuxbrew to try and save myself from the outdated software on my University's HPC cluster... they won't let me upgrade them to a newer CentOS 🙃

[2019-07-17 23:05] #65 closed, assigned to nobody

[2019-08-06 13:12] InnovativeInventor commented on #55
@sjackman @timotheecour
I've been able to reproduce this on a fresh EC2 instance running:
[code]
I've had trouble reproducing this on Docker though. This was the relevant part of the personal script I was using on Ubuntu:
[code]

Hopefully this helps.

[2019-09-03 16:44] Ch00k commented on #55
I can reproduce this on GCP instances with Ubuntu 16.04 and 18.04

[2019-09-03 17:02] Ch00k commented on #55
Also in my case it fails with the same error if I run `sh -c "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install.sh)"`

[2019-10-25 01:32] fanghuaqi commented on #51
@x80486 @sjackman I met the same issue when I tried to follow the guide here: https://docs.brew.sh/Homebrew-on-Linux#install.
[code]

As I can see, I have already have git installed, but it still complain about git, why that happened?
[code]

And I also tried to use `brew doctor` and `brew install git`, it doesn't help. Could you show me some hints on how to make it work on linux?

Thanks in advan

[2019-10-25 01:33] fanghuaqi commented on #51
The suggested commands above failed for me:
[code]

[2019-10-25 05:47] leleliu008 opened #75 "Advice : use shell builtin command first"
[https://github.com/Linuxbrew/install/blob/master/install-ruby](url) line 30 `which ruby` replaced by `command -v ruby` is better as `which` is not builtin command in any shell, it may not be pre installed in some os.

[2019-10-30 16:59] sjackman commented on #51
Try…
[code]

[2019-10-30 21:13] sjackman commented on #75
https://github.com/Linuxbrew/install/blob/master/install-ruby#L30
Agreed. Would you like to open a PR to change `` `which ruby` `` to `$(command -v ruby)` ?

[2019-10-31 04:13] leleliu008 commented on #75
@sjackman Yes, I'd like to.

[2019-10-31 16:18] #75 closed, assigned to sjackman

[2019-11-02 03:04] tautomer opened #77 "Change the number of jobs in MAKEFLAGS"
I think the default one is 72 for Linuxbrew, which is wasy too large.

If I run `brew upgrate` or `brew install <formulae>` on the head node of a shared cluster, the whole cluster will get stuck because of this. The only option will be running all brew task on a compute node.

The default for homebrew on Mac is 8. This is a far more rational choice.

Unlike `$HOMEBREW_CC`, there isn't a environmen

[2019-11-05 17:03] sjackman commented on #77
The default number of make jobs is the number of CPU threads.
[code]
See `man brew` or https://docs.brew.sh/Manpage

[2019-11-05 17:03] #77 closed, assigned to sjackman

[2019-11-15 22:32] randy3k opened #78 "cannot install linuxbrew when git version is v1.7.1"
* Transferred from https://github.com/Homebrew/brew/issues/6746

I couldn't install `linuxbrew` on a linux server because git version is too old and it doesn't understand `git config --local`

[code]

I just to want to make sure what a minimum requirement of `git` linuxbrew assumes.

Update: I am not an admin of the server, so updating `git` is not an option (of course, I could ask the admin to up

[2019-11-15 23:01] issyl0 commented on #78
Thanks for moving this over.

To help us debug:

- What version of git is installed?
- Have you provided all of the error output?

From a quick look [at the recent git docs](https://git-scm.com/docs/git-config/2.24.0#Documentation/git-config.txt---local), `local` is the default _these days_, so we may be able to omit it, but obviously it depends on as to what it was _at that time_. And it might be

[2019-11-15 23:05] randy3k commented on #78
Hi,

The version of git is actually in the title, but anyway, it is v1.7.1 on Scientific Linux release 6.10.

There was actually another complaint about `git tag`.

<details>

[code]
</details>

[2019-11-15 23:13] issyl0 commented on #78
I managed to find docs for git 1.7.1: https://www.git-scm.com/docs/git-config/1.7.1. That says nothing about what’s the config default. So I guess that’s the wrong line of thinking to omit the option. I’ll take another look tomorrow. 😄

[2019-11-15 23:35] dawidd6 commented on #78
Git 1.7+ has in docs:
[code]

Also Git 2.0+:
[code]

I would say we can drop `--local` option altogether.

-------

About this `git tag` error, we would need to change the `brew` code: https://github.com/Homebrew/brew/blob/b7596adb4aaec9cd4c08f175944b5f5a25e7c32a/Library/Homebrew/cmd/update.sh#L186 https://github.com/Homebrew/brew/blob/b7596adb4aaec9cd4c08f175944b5f5a25e7c32a/Library/Homebrew/cmd/

[2019-11-16 00:49] sjackman commented on #78
I'd be in favour of dropping `--local`.

The desired behaviour when the system version of `git` is too old is that Homebrew will fall back to using `curl` to install itself, and then the first `brew update` operation will `brew install git` for you. If it's not working that way (evidently) a PR to fix it would be most appreciated!

[2019-11-19 17:09] sjackman commented on #78
@issyl0 has opened three PRs to address this issue:

- https://github.com/Homebrew/brew/pull/6747
- https://github.com/Homebrew/brew/pull/6748
- https://github.com/Homebrew/install/pull/242

[2019-11-26 23:36] hwalinga commented on #53
Somehow this does not work for me. I don't know if I am just doing something wrong, or that it is because I have something different with my machine, or that some other commit made it stopped working.

Executing:

[code]

Error:

[code]

Tried both pressing return three times and C-D.

MX Linux 19 (Debian 10).

[2019-11-28 18:06] sjackman commented on #53
What's the output of running `/usr/bin/sudo /bin/mkdir -p /home/linuxbrew/.linuxbrew` interactively at the command line?

[2019-11-28 19:13] hwalinga commented on #53
Well, first I get:
[code]

Then I hit C-D

and get:

[code]

Exit code 1.

What do you check for it to fail?

[2019-11-28 19:22] hwalinga commented on #53
I think I understand what is happening. You are checking `sudo -l mkdir` to check if I am allowed to run sudo. I am allowed to run sudo, but I don't want to install linuxbrew with the sudo rights. (I just don't like that.)

So, it seems almost like a design choice that whenever a user has sudo rights, but decides to not grant linuxbrew the sudo rights it just refused to install. Is this indeed int

[2019-11-29 15:21] hwalinga commented on #53
So, I looked at the code and some related issues. It seems there are two tests `sudo -l` and `sudo -v` and it seems that picking one will not cover all cases, as sometimes the on succeeds when it should not and sometimes the other succeeds when it should not.

I would therefor suggest to use both and only skip the prompt about the different ways of installation if both succeed. If one or the other

[2019-11-29 19:03] sjackman commented on #53
I strongly recommend installing Homebrew in its default installation directory of `/home/linuxbrew/.linuxbrew`. You can create the directory `/home/linuxbrew` yourself if you like, and ensure that your current user has permissions to write to it, and then the installer will not need `sudo` to run. The following is copy-pasted informational text as to why the standard installation directory is pref

[2019-11-30 16:18] hwalinga commented on #53
It's just a matter of principle. It's good to be informed, but just give a user a choice.

I have linuxbrew installed on my own pc and on a shared server. I don't have sudo rights on the shared server, so I install in the home directory. While I do have sudo rights on my own pc, I don't want to deviate from the way I organize my stuff on the server. If there is a difference I might face unexpected

[2019-12-04 01:07] sjackman commented on #53
Pressing Ctrl-D at the `sudo` password prompt is meant to install in the user's home directory. If that doesn't work for you, and if you're able to find a fix, a PR to fix it would be most welcome.

[2019-12-10 17:03] cefn commented on #55
I am also encountering this issue installing Linuxbrew on a Raspberry Pi running a stock Ubuntu 18.04 on arm64 with Xubuntu-core. Linuxbrew is the first application I installed after Chromium-Browser.

Installation proceeded and failed as follows with the underlying error

<details>
 <summary>Click to show console log</summary>

[code]

</details>

[2019-12-10 17:12] sjackman commented on #55
This PR https://github.com/Homebrew/brew/pull/6748 may fix this issue. Homebrew 2.2.1 was released yesterday, which includes this fix. Give it a shot? https://github.com/Homebrew/brew/releases/tag/2.2.1

[2020-03-03 19:59] ckeeling commented on #51
I was having the same problem now, and the suggestion worked:

[code]

Thanks!

[2020-03-04 02:14] ckeeling opened #81 "Installing linuxbrew fails with: Error: Git is unavailable (but git 2.19.1 is installed)"
I am trying to do a fresh install of linuxbrew locally onto linux system, where:

[code]

[code]

Fails with error.

[code]

[2020-03-04 21:37] sjackman commented on #81
Hi, Chris!
Try…
[code]

[2020-03-05 14:41] ckeeling commented on #81
Hi Shaun,

When I do this, I get another error when installing the git dependency glibc:

[code]

As per the trouble shooting, run brew update twice:

[code]
Try again...
[code]

Try with your suggested prefix:

[code]

Ask the doctor:

[code]

[2020-03-05 18:03] sjackman commented on #81
Consider installing Homebrew in `/home/linuxbrew/.linuxbrew/` if possible so that you can use precompiled binary packages (known as bottles) for non-relocatable formula like `glibc`.

If it's an option for you, you could open a ticket with your information systems department to ask that they create a `linuxbrew` role account with home directory `/home/linuxbrew`.

The precompiled binary bottles of

[2020-03-05 18:04] sjackman commented on #81
Try `~/.linuxbrew/bin/brew install -v glibc` and report the error.

[2020-03-05 19:05] ckeeling commented on #81
It started with the same error messages as above for brew update, but then continued with a very long stream of text ending in:

[code]

[2020-03-05 22:11] sjackman commented on #81
Your best bet is to install in `/home/linuxbrew/.linuxbrew`

If you'd like to experiment with an un-tested hack, try…
`~/.linuxbrew/bin/brew install --force-bottle glibc`

That may get you further, but will likely result in other other weird downstream errors.

Another option to try may be something like…
[code]

[2020-03-06 00:11] ckeeling commented on #81
No luck with your last suggestions for a user installation. I know it has always been indicated that some things will only work when located in /home/linuxbrew, but I've installed linuxbrew in my user space several times in the past on compute canada servers without issue, as I am trying to do now. Is linuxbrew moving away from one of its main feature of not requiring sudo access, or do you think

[2020-03-06 18:13] sjackman commented on #81
No, and it still doesn't require root `sudo` access, but everything is a lot smoother (less building from source) if you have write access to `/home/linuxbrew`. I suppose with Compute Canada that likely may be not possible. Do they provide container access through either Docker or Singularity?

[2020-03-06 18:19] sjackman commented on #81
You're building `glibc`, and it's `glibc` itself that provides `stdio.h`, which is says it's missing, so that's weird. So it looks to me like a `glibc` build system issue/bug.

Try… `brew install -dv glibc` and when the menu of options is provided select a shell prompt. Run `make` and see if you get the same error.

[code]

From your build command above, these are the include paths being searched.

[2020-03-06 21:42] ckeeling commented on #81
Thanks Shaun,

Yes, I could use Singularity, and I do use it for some things, but am surprised I can't get linuxbrew to install properly without resorting to another layer of complexity.  Are you still maintaining a Docker hub linuxbrew image? Singularity can use that too.

I got the same errors after running ```make```. I found the files giving missing errors here, and only stdio.h is in one of t

[2020-03-06 21:50] sjackman commented on #81
If you're able to reproduce this issue in a `CentOS Linux release 7.7.1908` Docker image, I can troubleshoot it. Otherwise I can't know if this issue is due to some configuration specific to this machine, or a more general problem.

Yep.
See https://hub.docker.com/r/homebrew/brew
and https://github.com/Homebrew/brew/packages/

[2020-03-12 17:09] ckeeling commented on #81
Based on your Dockerfile, I created a Singularity recipe that was able to install brew correctly. I need a package not available in xenial, so I started from scratch with docker:ubuntu:disco rather than bootstrapping from homebrew/brew.  Thus, it seems that the setup on the server of my original post was the issue. Thanks for the help and suggestions @sjackman

[2020-03-12 17:09] #81 closed, assigned to sjackman

[2020-03-13 18:23] sjackman commented on #81
Glad to hear that you got Singularity working, Chris!

[2020-05-21 20:39] VonUniGE opened #82 "Mark this repository as deprecated and archive it"
It seems to me that this repository is deprecated in favor of https://github.com/Homebrew/install.

If this really the case this repository should be marked as deprecated and archived or at least its status and its relationship with https://github.com/Homebrew/install should be made explicit.

[2020-05-22 19:50] #82 closed, assigned to nobody

[2020-05-22 19:52] sjackman commented on #30
This repository is deprecated. It has been merged into Homebrew/install.

[2020-05-22 19:52] #30 closed, assigned to sjackman

[2020-05-22 19:52] sjackman commented on #38
This repository is deprecated. It has been merged into Homebrew/install.

[2020-05-22 19:52] #38 closed, assigned to sjackman

[2020-05-22 19:52] sjackman commented on #41
This repository is deprecated. It has been merged into Homebrew/install.

[2020-05-22 19:52] #41 closed, assigned to sjackman

[2020-05-22 19:53] sjackman commented on #50
This repository is deprecated. It has been merged into Homebrew/install.

[2020-05-22 19:53] #50 closed, assigned to nobody

[2020-05-22 19:53] sjackman commented on #55
This repository is deprecated. It has been merged into Homebrew/install.

[2020-05-22 19:53] #55 closed, assigned to nobody

[2020-05-22 19:53] sjackman commented on #78
This repository is deprecated. It has been merged into Homebrew/install.

[2020-05-22 19:53] #78 closed, assigned to issyl0